DESGOWebService/src/conf/xml-resources/web-service-references/WSGestionUsuario/wsdl/localhost_8080/DESGOWebService/WSGestionUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.desgo.com.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.desgo.com.ec/" name="WSGestionUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.desgo.com.ec/" schemaLocation="http://localhost:8080/DESGOWebService/WSGestionUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="registrarFormulario">
<part name="parameters" element="tns:registrarFormulario"/>
</message>
<message name="registrarFormularioResponse">
<part name="parameters" element="tns:registrarFormularioResponse"/>
</message>
<message name="Validar">
<part name="parameters" element="tns:Validar"/>
</message>
<message name="ValidarResponse">
<part name="parameters" element="tns:ValidarResponse"/>
</message>
<message name="Registrar">
<part name="parameters" element="tns:Registrar"/>
</message>
<message name="RegistrarResponse">
<part name="parameters" element="tns:RegistrarResponse"/>
</message>
<message name="registrarUser">
<part name="parameters" element="tns:registrarUser"/>
</message>
<message name="registrarUserResponse">
<part name="parameters" element="tns:registrarUserResponse"/>
</message>
<portType name="WSGestionUsuario">
<operation name="login">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/loginRequest" message="tns:login"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="registrarFormulario">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarFormularioRequest" message="tns:registrarFormulario"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarFormularioResponse" message="tns:registrarFormularioResponse"/>
</operation>
<operation name="Validar">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/ValidarRequest" message="tns:Validar"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/ValidarResponse" message="tns:ValidarResponse"/>
</operation>
<operation name="Registrar">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/RegistrarRequest" message="tns:Registrar"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/RegistrarResponse" message="tns:RegistrarResponse"/>
</operation>
<operation name="registrarUser">
<input wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarUserRequest" message="tns:registrarUser"/>
<output wsam:Action="http://servicios.desgo.com.ec/WSGestionUsuario/registrarUserResponse" message="tns:registrarUserResponse"/>
</operation>
</portType>
<binding name="WSGestionUsuarioPortBinding" type="tns:WSGestionUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarFormulario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Registrar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionUsuario">
<port name="WSGestionUsuarioPort" binding="tns:WSGestionUsuarioPortBinding">
<soap:address location="http://localhost:8080/DESGOWebService/WSGestionUsuario"/>
</port>
</service>
</definitions>